/* left_content{
    left_content_box{
        logo
        online_music{
            online_title
            online_nav
        }
        my_music{
            my_title
            my_nav
        }
    }
} */
.left_content_box{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.logo{
    width: 100%;
    height: 80px;
    background: url("../picture/Logo.png");
    /* background-image: url("../picture/Logo.png"); */
    background-position-x: -20px;
    background-size: 190px 65px;
}
.online_music,.my_music{
    margin: 20px;
}
.online_title,.my_title{
    padding: 8px ;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    
}
.online_nav>li , .my_nav>li{
    width: 130px;
    margin: 12px 0;
    padding: 2px 4px;
    border-radius: 8%;
}
.online_nav>li:hover , .my_nav>li:hover{
    background: rgb(204, 206, 201);
}
.online_title,.my_title{
    user-select: none;
}

.online_nav i ,.my_nav i{
    width: 20px;
}

