h1,h3,table{
    user-select: none;
}
body{
    margin: 10px 45px;
}
h1{
    font-weight: bold;
}
h3{
    margin: 15px;
}
.operate_box{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
table{
    width: 600px;
    margin: 20px 10px;
}
table:first-child{
    margin: 4px;
}

.song_table tr{
    cursor: pointer;
    line-height: 35px;
    
}