/* play_wapper{
    line_time_going
    music_box{
        music_img
        music_wapper{
             music_message{
                music_mes{
                    music_name
                    singer_name
                    }
                vip_logo
                mv_btn
            }
            operate_nav{
            add_fav
            download
            }
        }
    }
    play_box{
        play_style
        play_lastone
        play_btn
        play_nextone
        voice
    }
    time_going
    word_expose
    music_list{
        list_icon
        list_number
    } */
/* 
    add-{
        flex_box{
            music_box
            play_bpx
            time_going_word_expose
            music_list
        }
    }
*/
.flex_box{
    display: flex;
}


.line_time_going{
    width: 100%;
    height: 6px;
    background: chartreuse;
}
.music_box{
    width:250px;
    height: 50px;
    margin-top: 8px;
    margin-left: 15px;
    display: flex;
}
.music_img{
    width: 40px;
    height:40px;
    background-image: url(../picture/cd.png);
    background-size: 40px 40px;
}
.music_message{
    width: 200px;
    height: 20px;

    display: flex;
    justify-content: space-around;
}
.music_mes{
    display: flex;
    width: 140px;
    overflow: hidden;
}
.vip_logo{
    width: 20px;
    height: 16px;
    background-image: url(../picture/vip.png);
    background-size: 20px 16px;
}
.fa-film{
    width: 20px;
    height: 20px;
}

.operate_nav{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.play_box{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 8px 50px 8px 80px;
}
.play_box a{
    font-size: 18px;

    padding-top: 10px;
}

.play_box a :hover{
    color:rgb(161, 202, 98);
}

.play_box :nth-child(3){
    padding-top: 6px;
    font-size: 25px;
}


.time_going{
    margin-top: 20px;
    margin-left: 32px;
    font-family: 'Times New Roman', Times, serif;
}
.word_expose{
    margin-top: 18px;
    margin-left: 22px;
}

.music_list{
    margin-top: 19px;
    margin-left: 22px;
}