/* right_content{
    header_wapper
    middle_wapper
    play_wapper
} */

.header_wapper{
    height: 10%;
    width: 100%;
}
.middle_wapper{
    height: 80%;
    width: 100%;

}
.play_wapper{
    height: 10%;
    width: 100%;

}
